{% extends "layout.html" %}
<title>Alone - Naruto</title>
<body>
{% block body %}
<h1>ALONE – NARUTO</h1>

<p>o (8tf) w t u (7yd) 9 w (yf) (6ts) 0 e r t 5 (4tj) q e t (5rh) 9 w (rj) (6tf) 0 e r t e u<br>

(8tf) w t u (7yd) 9 w (yh) (6ts) 0 e r t e u (4tj) q e t (5rk) 9 r (9h) (6tj) 0 e r t<br>

(4tj) q e q t q (el) q (4ok) 9 w r o 9 (rh) 9 (4tj) q e q t q (el) q (4ok) 9 w r o 9 r w<br>

(4tj) q e q t q (el) q (4ok) 9 w r o (rk) (wl) (9z) (6ij) q e t i (ql) (ez) x (7z)<br>

o (8tf) w t u (7yd) 9 w (yf) (6ts) 0 e r t e u (4tj) q e t (5rh) 9 w (rj) (6tf) 0 e r t 0<br>

u 0 (8tf) w t u (7yd) 9 w (yh) (6ts) 0 e r t 0 u (4tj) q e t (5rk) 9 w (rh) (6tj) 0 e r t<br>

e 0 (4tj) q e t (5rk) 9 w (rh) (6tj) 0 e r t 0 u (4tj) q e t (5rk) 9 w (rh) (4ij) 0 e 0 t<br>

    0 e 0 (4u) 0 e 0 (ul) 0 tj e (4ij) 0 e 0 (tx) 0 (el) 0 (4i) 0 e (0o) ep (0s) (ef) h (et)(igj)</p>
{% endblock %}
</body>
</html>